/* Main container for assignments */
.assignments-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  margin: 60px;
}

/* Title of assignments section */
.assignments-title {
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}




h2, h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}





.failure-reasons-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 10px;
}

.failure-reasons-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.failure-reason-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.failure-reason-item:hover {
  background-color: #eaf3fc;
  transform: translateY(-2px);
}

.reason-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #5a5a5a;
}

.reason-count {
  font-size: 1.2rem;
  font-weight: 500;
  color: #007bff;
}

@media (max-width: 600px) {
  .failure-reason-item {
    padding: 10px;
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  .assignments-container {
   margin: 60px auto;
  }
}


.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

/* Table styling */
.assignments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table header and cell styling */
.assignments-table th, .assignments-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #333;
}

/* Table header background */
.assignments-table th {
  background-color: #9f0101;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Alternate row styling */
.assignments-table tr:nth-child(even) {
  background-color: #f9f9f9;
}



.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;

}

.metrics-item {
  background: #edf9ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bar-chart-container, .doughnut-container {
  width: 100%;
  height: 300px;
}