/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #780101;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 24px;
}

/* Menu icon styling for smaller screens */
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Navigation links styling */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(255, 252, 252);
  text-decoration: none;
  font-size: 18px;
}

/* For smaller screens, hide the menu and show the icon */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #770000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}

/* For even smaller screens */
@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
}


.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  color: #453add;
  font-weight: 500;
  animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey background */
  border-top: 8px solid #2256f4; /* Dark grey spinner */
  border-radius: 50%;
  width: 80px; /* Larger size */
  height: 80px; /* Larger size */
  animation: spin 1s linear infinite;
  margin-bottom: 1rem; /* Space between spinner and text */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



