.orders-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  margin: 20px 60px;
}
  
  .orders-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filters {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .filters select,
  .filters input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .table-container {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  /* Table styling */
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Table header and cell styling */
  .orders-table th, .orders-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
  }
  
  /* Table header background */
  .orders-table th {
    background-color: #9f0101;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Alternate row styling */
  .orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  
  @media screen and (max-width: 768px) {
    .filters {
      flex-direction: column;
      align-items: center;
    }
    .orders-table th, .orders-table td {
      font-size: 12px;
      padding: 10px;
    }
  
  }
  