/* Main container for partners */
.partners-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  margin: 20px 60px;
}

.partner-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Table container styling */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

/* Table styling */
.partners-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table header and cell styling */
.partners-table th, .partners-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #333;
}

/* Table header background */
.partners-table th {
  background-color: #9f0101;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Alternate row styling */
.partners-table tr:nth-child(even) {
  background-color: #f9f9f9;
}


.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* Input field styles */
.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.form-container input:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.2);
}

/* Shift input styling */
.shift-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.shift-inputs input {
  flex: 1;
}

/* Button styling */
.form-container button {
  background: linear-gradient(135deg, #a7c8f6, #e8d3f8); /* Gradient background */
  color: rgb(22, 20, 20);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

button {
  background: linear-gradient(135deg, #e2eaf5, #e8d3f8); /* Gradient background */
  color: rgb(22, 20, 20);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px ;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #004085;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .partners-table th, .partners-table td {
    font-size: 12px;
    padding: 10px;
  }

 
}
